<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kubernetes Failure Stories</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <link rel="shortcut icon" type="image/png" href="favicon.png">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="content">
                    {{content}}
                </div>
                <hr>
            </div>
            <footer class="footer">
                <div class="content has-text-centered">
                    <p><strong>Kubernetes Failure Stories</strong> generated from <a href="https://codeberg.org/hjacobs/kubernetes-failure-stories">codeberg.org/hjacobs/kubernetes-failure-stories</a>.</p>
                </div>
            </footer>
        </section>
    </body>
</html>
